//  A bold type face
@font-face {
    font-family: 'markpro-bold';
    src: url('../fonts/FontFont_FF.Mark.Pro.Bold.otf');
}

//  A medium type face
@font-face {
    font-family: 'markpro-medium';
    src: url('../fonts/FontFont_FF.Mark.Pro.Medium.otf');
}

//  A regular type face
@font-face {
    font-family: 'markpro-regular';
    src: url('../fonts/FontFont_FF.Mark.Pro.otf');
}